<!doctype html>
<title>::Welcome to Django Project Skeleton powered app::</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h2>Welcome to your project skeleton!.</h2>
    <p><h4>Powered by Django Project Skeleton app.</h4></p>
    <div>
        <p>You can now make the app the way you want!</p>
        <p>&mdash; The Team</p>
    </div>
</article>